<h2>Decision Rules</h2>
<span style="font-size: 113%">Rules are created and modified to adapt to changing business and system requirements.<br /> 
  This allows for a flexible framework to fine-tune system migrations.</span>

<h3>Example Rules</h3>
<ul style="font-size: 113%">
  <li style="padding: 1px"><span style="background: red; color: white; padding: 1px">Potential Savings less than 1M => Do not migrate at this time</span></li>
  <li style="padding: 1px"><span style="background: yellow;padding: 1px">Potential Savings less than 5M and greater than 1M => Evaluate migration</span></li>
  <li style="padding: 1px"><span style="background: green; color: white;padding: 1px">Potential Savings greater than 5M => Strong migration candidate</span></li>
</ul>